<div>
    <header class="absolute inset-x-0 top-0 z-50 bg-red-700">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-20 w-15" src="https://upload.wikimedia.org/wikipedia/it/thumb/5/59/Logo_della_Scuderia_Ferrari_(vecchio).svg/1200px-Logo_della_Scuderia_Ferrari_(vecchio).svg.png " alt="">
          </a>
        </div>

<div class="flex flex-wrap items-center gap-x-6 gap-y-2">
    <p class="text-sm leading-4 text-white">
      <strong class="font-semibold">Expo Ferrari 2024</strong>
    </p>
</div>
<div class="flex flex- items-center gap-x-6 gap-y-2">
      <p class="text-sm leading-4 text-white">
      <svg viewBox="2 2 2 2" class="mx-4 inline h-0.5 w-200px fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Join us in Denver from June 7 – 9 to see what’s coming next.
    </p>
    <a href="#" class="flex-none rounded-full bg-green-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-red-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Register now <span aria-hidden="true">&rarr;</span></a>
</div>



